.cabecalho_root {
  height: 48px;
  background-color: rgb(145, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;

  /* padding-top: 0;
  padding-right: 16px;
  padding-bottom: 0;
  padding-left: 16px; */
}

.PFP {
  max-width: 10px;
  object-fit: [];
}