.cabecalho_root {
  height: 70px;
  background-color: rgb(185, 184, 184);
  display: flex;
  justify-content: center;
  align-items: space-around;
  padding: 10px;

  /* padding-top: 0;
  padding-right: 16px;
  padding-bottom: 0;
  padding-left: 16px; */
}

.cabecalho_root > .avatar_perfil {
  width: 50%;
}
