.botao-customizado_root {
  padding: 16px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  opacity: 1;
  cursor: pointer;
  color: var(--cor-texto-claro);
  font-weight: bold;
  box-shadow: rgb(3, 4, 94) 10px 10px 10px -5px;
  margin-bottom: 25px;
}

.botao-customizado_root:hover {
  opacity: 1;
  
  box-shadow: rgb(70, 55, 15) 0px 20px 30px -10px;
}

.botao-customizado_primario {
  background-color: rgb(4, 0, 238);
  font-family: 'TT Lakes Neue Trial', sans-serif;
  
}

.botao-customizado_secundario {
  background-color: rgb(202, 240, 248); 
  /* font-family: 'TT Lakes Neue Trial', sans-serif; */
  font-family: 'Anton', sans-serif;
  font-size: medium;
  color: rgb(0, 119, 182);
  margin-bottom: 20px;
}

.botao-customizado_padrao {
  background-color: var(--cor-cinza);
}
